* {
    margin: 0;
}

html, body {
    margin-left: 0;
    padding: 0;
}

body {
    background-color: rgb(136,136,136);
    /*height: 70cm;*/
}

header {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    width: 28cm;
    height: 7cm;   /*hauteur du header, pas en dessous de 7 cm sinon le header s'écrase sur le contenu*/
    text-align: center;
    color: white;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.taille {
    width: 9cm;  /*largeur du aside (gauche du cv) 9 cm sur une largeur total de 28cm*/
}

.taille1 {
    width: 19cm;  /*largeur de section (droit du cv) 19 cm sur une largeur total de 28cm*/
}

article {
    width: 28cm;
    height: 20cm;   /*test pour connaître la hauteur en cm d'une page a4 représenté en css*/
    margin: 0;
}

footer {
    width: 28cm;
    height: 3cm;   /*pas en dessous de 3 cm sinon le footer s'écrase sur le contenu*/
    position: absolute;
    bottom: 0;
}

h3 {
    background-color: black;
    text-align: center;
    color: purple;
}

li {
    list-style: none;
}

p {
    color: white;
}

.white {
    color: white;
}

.container-fluid {
    padding-left: 0;
}

h4 {
    text-align: center;
}


/*.lnk {
    margin-left: 43vw;}
}*/

footer {
    display: none;
}

.visible {
    height: 100px;
    width: 100px;
}

.visible1 {
    height: 90px;
    width: 47px;
}

.marge {
    margin-top: 1.25vh;
}

.marge-self {
    margin-top: 0.37vh;
}
