* {
    margin: 0;
}

html, body {
    margin-left: 0;
    padding: 0;
}

body {
    background-color: rgb(136,136,136);
}

header {
    background-image: url("../images/background51.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    text-align: center;
    color: white;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

article {
    width: 100vw;
    margin: 0;
}

footer {
    width: 100vw;
    position: absolute;
}

h3 {
    background-color: black;
    text-align: center;
    color: purple;
}

li {
    list-style: none;
}

@media screen and (min-width:1200px){
    #nav { margin-left: 37vw;}
}

.size-form {
    /*height: 10vh;*/
}

p {
    color: white;
}

.white {
    color: white;
}

.container-fluid {
    padding-left: 0;
}

h4 {
    text-align: center;
}

@media screen and (min-width:1200px){
    .lnk { margin-left: 43vw;}
}
