*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway';
    font-size: 16px;
    /*overflow: hidden;*/
}

a {
    color: white;
    /*color: #1C9C94;*/
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

h1{
    margin: 20px;
    font-size: 70px;
    letter-spacing: 3px;
    text-align: center;
    background-color: rgba(26, 26, 26, 0.5);
}

h2{
    font-size: 30px;
    text-align: center;
    background-color: rgba(26, 26, 26, 0.5);
}

header {
    background-image: url('../img/b3.jpg');    /*avant: './img/banner1.jpg'  b3 nikel et b8*/
    background-size: cover;

    height: 100vh;
    color: white;

}

#div-logo{
    display: flex;
    justify-content: center;
}

header img {
    border-radius: 50%;
    border: 15px solid rgba(26,26,26,0.5) ;
    max-width: 155px;
}

#fleche-content, #li-accueil, #li-competences, #li-experiences,
#li-formation, #li-contact, #burger, #div-fleche
{
    cursor: pointer;
}

#div-fleche{
    border-radius: 50%;
    border: 2px solid white;
}

.blob {
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.50);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.50);
    }
}