nav{
  background-color: #424242;
  min-height: 50px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  list-style: none;
}

section{
  height: 100vh;
}

i{
  margin: 10px;  /*marge pour écarter l'icon et le nom*/
}

span{
  height: 75px;
  display: flex;
  align-items: center;
}

#aside{
  height: calc( 100vh - 50px);
}

.div-nav-menu{
  min-height: 150px;
  background-color: #fc6f5c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-responsive{
  height: calc( 100vh - 200px );    /*a modifier dans smart  aussi*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #d5dbe2;
}

.div-responsive2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #d5dbe2;
  height: auto;
  width: 1200px;
  flex-wrap: wrap;
}

#div-responsive2-image{
  margin-top: 10px;
}

#div-responsive2-div{
  width: auto;
  min-height: 300px;
  text-align: center;
  border: 1px solid black;
  margin: 10px 10px 10px 10px;
}

#p-apropos{
  margin: 10px 10px 10px 10px;
  text-align: justify;
}

#burger{
  display: none;
}

.bidon{
  height: 50px;
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}


