header{
  background-position: 0px -20px;
}

nav{
  background-color: #424242;
  /*background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);*/
  min-height: 50px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  list-style: none;
}

section{
  height: 100vh;
}

i{
  margin: 10px;  /*marge pour écarter l'icon et le nom*/
}

span{
  height: 75px;
  display: flex;
  align-items: center;
}

#aside{
  height: calc( 100vh - 50px);
}

.div-nav-menu{
  min-height: 150px;
  /*background-color: #fc6f5c;*/
  /*background-color: orangered;*/
  /*background: #f69d3c;*/
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-responsive{
  height: calc( 100vh - 200px );    /*a modifier dans smart  aussi*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*background-color: #d5dbe2;*/
  /*background-image: url("../img/b2.jpg");
  filter: blur(5px);*/
  /*background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);*/
  background-image: url("../img/circuit.jpg");

}

.div-responsive2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*background-color: #d5dbe2;*/
  /*background: rgba(63, 135, 166, 0.5);*/
  color: white;
  height: auto;
  width: 1200px;
  flex-wrap: wrap;
}

#div-responsive2-image{
  margin-top: 10px;
}

#div-responsive2-div{
  width: auto;
  min-height: 300px;
  text-align: center;
  border: 1px solid #424242;
  background-color: rgba(66, 66, 66, 0.9);
  margin: 10px 10px 10px 10px;
}

#p-apropos{
  margin: 10px 10px 10px 10px;
  text-align: justify;
}

#burger{
  display: none;
}

.bidon{
  height: 50px;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}


